{%extends 'base.html'%}

{% block content %}
{{block.super}}


<div class="container">
  
           
  <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-10">
        <h1 class="text-center">Welcome to Picture App!</h1>
      <form role="search" action="{% url 'search_results' %}" method="GET">

          
          <input type="text" class="form-control" placeholder="Search Category: food, instrument, travel or sports" name="category">
          
          <div class="input-group-btn text-center">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
     

      </form>
      <hr>
      <h3 class="text-center">Click on an image to find out more details about it!</h3>
      <hr>
      <h4 class="text-center">To filter by location taken click on one of the following:</h4>
      <br>
      <ul class="text-center">
        <a href="{% url 'filter' 'CBD' %}"><li>CBD</li></a>
        <a href="{% url 'filter' 'Westlands' %}"><li>Westlands</li></a>
        <a href="{% url 'filter' 'Kilimani' %}"><li>Kilimani</li></a>
        <a href="{% url 'filter' 'Kileleshwa' %}"><li>Kileleshwa</li></a>
      </ul>

    </div>
     
  </div>




   
    <hr>
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-top">
                        <img src="{{photo.image.url}}" class="img-responsive" alt="Image" style="padding: 5px; width: 100%; height: 100%;" data-toggle="modal" data-target="#{{photo.id}}">
                        <div class="modal fade" id="{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="{{photo.id}}">{{photo.image_name}}</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                       </button>
                              </div>
                              <div class="modal-body">
                                <img src="{{photo.image.url}}" class="img-responsive modal-content" alt="Image" style="padding: 5px; width: 100%; height: 60%;">
                                <br>
                                <br>
                                <p><strong>Description: </strong> {{photo.image_description}}</p>
                                <p><strong>Location photo was taken:</strong> {{photo.location.location_name}}</p>
                                <p><strong>Date uploaded:</strong> {{photo.upload_date}}</p>
                              </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                
            </div>
            
        {% empty %}
            <div class="col-md-10">
                <h2 class="text-center">There are no pictures yet</h2>
            </div>

        {% endfor %}

    </div>
    
</div>
{% endblock %}

